body {
    background-color:#1E1A1D;
   text-color:
    background-size:;
    background-repeat:repeat-x;
   background-position:center right;
     text-align: center;
   
   }
   
   h1{
     background: #db1630;
     color:red;
   
   
   }
    